# Maven
target/
dependency-reduced-pom.xml
*.jar
*.war
*.class
 
# macOS
.DS_Store
 
# IDE - NetBeans
nbactions.xml
nbproject/private/
nb-configuration.xml
 
# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
 
# IDE - VS Code
.vscode/
 
# IDE - Eclipse
.project
.classpath
.settings/
.factorypath
 
# Logs
*.log
 
# OS
Thumbs.db
